# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.lgdaobhyhnoxznwhqtot:wfEAMXp9c2fVqj37@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.lgdaobhyhnoxznwhqtot:wfEAMXp9c2fVqj37@aws-1-us-west-2.pooler.supabase.com:5432/postgres"

JWT_SECRET="cv-prod-jwt-secret-2026-kx91mz3p"
PORT=3000
CORS_ORIGIN="http://localhost:5173"